@import "tailwindcss";

@layer components {
  .nav__link {
    @apply relative text-base font-medium w-fit block text-white after:block after:content-[''] after:absolute after:h-1 after:bg-yellow-400 after:w-full after:scale-x-0 group-hover:after:scale-x-100 after:transition after:duration-300 after:origin-right
  }

  .text-bg {
    background-image: linear-gradient(to right, #8750F7 0%, #FFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #44028F;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #C277FA;
    border-radius: 5px;
  }

  .language-switcher-active {
    @apply bg-yellow-400 text-black;
  }

  .language-switcher-inactive {
    @apply text-white hover:text-yellow-400;
  }
}